org: andrewoz
service: RecipesAPI

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  environment:
    DISCORD_WEBHOOK_URL: ${env:DISCORD_WEBHOOK_URL}
    S3_BUCKET_NAME: meu-bucket-lista-compras
    NODE_ENV: production
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:GetObject
            - s3:PutObject
          Resource: arn:aws:s3:::${self:provider.environment.S3_BUCKET_NAME}/*

functions:
  health:
    handler: src/handlers/health.handler
    events:
      - http:
          path: /
          method: get

  webhook:
    handler: src/handlers/webhook.handler
    events:
      - http:
          path: /webhook
          method: post

  obterLista:
    handler: src/handlers/lista.obterLista
    events:
      - http:
          path: /lista
          method: get

  limparLista:
    handler: src/handlers/lista.limparListaHandler
    events:
      - http:
          path: /lista
          method: delete

  removerIngrediente:
    handler: src/handlers/lista.removerIngrediente
    events:
      - http:
          path: /lista/ingrediente
          method: delete
